In [1]:
import pandas as pd
import numpy as np

In [2]:
pem = pd.read_pickle("../data/pulled/pem.pkl")

In [8]:
pem.head()

,PLAYER_ID,PLAYER_NAME,GP,W,L,W_PCT,MIN,E_OFF_RATING,E_DEF_RATING,E_NET_RATING,...,E_DEF_RATING_RANK,E_NET_RATING_RANK,E_AST_RATIO_RANK,E_OREB_PCT_RANK,E_DREB_PCT_RANK,E_REB_PCT_RANK,E_TOV_PCT_RANK,E_USG_PCT_RANK,E_PACE_RANK,season
0,1578,Shea Seals,4,3,1,0.750,2.0,83.0,96.2,-13.1,...,41,403,427,8,286,114,1,1,1,1997-98
1,1522,Keith Booth,6,4,2,0.667,2.8,92.2,102.3,-10.0,...,237,375,355,94,208,173,346,81,2,1997-98
2,1526,James Cotton,9,7,2,0.778,3.8,83.0,119.2,-36.2,...,437,438,427,211,220,216,346,4,3,1997-98
3,1472,Tom Chambers,1,0,1,0.000,9.7,80.9,98.7,-17.8,...,105,423,427,429,130,155,432,312,4,1997-98
4,1575,Derek Grimm,9,2,7,0.222,3.7,108.2,127.0,-18.8,...,441,427,427,429,161,299,346,173,5,1997-98

In [9]:
team_roster=pd.read_pickle("../data/pulled/team_roster.pkl")

In [22]:
team_roster.sort_values(by=['PLAYER', 'SEASON'])

,TeamID,SEASON,LeagueID,PLAYER,PLAYER_SLUG,NUM,POSITION,HEIGHT,WEIGHT,BIRTH_DATE,AGE,EXP,SCHOOL,PLAYER_ID,season
58,1610612742,1997,00,A.C. Green,ac-green,45,F,6-9,225,"OCT 04, 1963",34.0,12,Oregon State,920,1997-98
407,1610612742,1998,00,A.C. Green,ac-green,45,F,6-9,225,"OCT 04, 1963",35.0,13,Oregon State,920,1998-99
813,1610612747,1999,00,A.C. Green,ac-green,45,F,6-9,225,"OCT 04, 1963",36.0,14,Oregon State,920,1999-00
1175,1610612748,2000,00,A.C. Green,ac-green,45,F,6-9,225,"OCT 04, 1963",37.0,15,Oregon State,920,2000-01
1078,1610612741,2000,00,A.J. Guyton,aj-guyton,11,G,6-1,180,"FEB 12, 1978",23.0,R,Indiana,2062,2000-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3902,1610612739,2007,00,Zydrunas Ilgauskas,zydrunas-ilgauskas,11,C,7-3,260,"JUN 05, 1975",33.0,9,Atletas Kaunas,980,2007-08
4337,1610612739,2008,00,Zydrunas Ilgauskas,zydrunas-ilgauskas,11,C,7-3,260,"JUN 05, 1975",34.0,10,Atletas Kaunas,980,2008-09
4767,1610612739,2009,00,Zydrunas Ilgauskas,zydrunas-ilgauskas,11,C,7-3,260,"JUN 05, 1975",35.0,11,Atletas Kaunas,980,2009-10
5333,1610612748,2010,00,Zydrunas Ilgauskas,zydrunas-ilgauskas,11,C,7-3,260,"JUN 05, 1975",36.0,12,Atletas Kaunas,980,2010-11
9355,1610612740,2019,00,Zylan Cheatham,zylan-cheatham,45,F,6-5,220,"NOV 17, 1995",24.0,R,Arizona State,1629597,2019-20

In [26]:
team_roster.merge(right=team_roster, how='left', left_on=team_roster['SEASON'].apply(int), right_on=team_roster['SEASON'].apply(int) + 1)

,key_0,TeamID_x,SEASON_x,LeagueID_x,PLAYER_x,PLAYER_SLUG_x,NUM_x,POSITION_x,HEIGHT_x,WEIGHT_x,...,NUM_y,POSITION_y,HEIGHT_y,WEIGHT_y,BIRTH_DATE_y,AGE_y,EXP_y,SCHOOL_y,PLAYER_ID_y,season_y
0,1997,1610612737,1997,00,Greg Anderson,greg-anderson,0,C-F,6-10,250,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1997,1610612737,1997,00,Anthony Miller,anthony-miller,2,F,6-9,255,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1997,1610612737,1997,00,Eldridge Recasner,eldridge-recasner,3,G,6-4,190,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1997,1610612737,1997,00,Chris Crawford,chris-crawford,4,F,6-9,235,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1997,1610612737,1997,00,Steven Smith,steven-smith,8,G,6-8,221,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4027948,2019,1610612766,2019,00,Cody Zeller,cody-zeller,40,F-C,7-0,240,...,31,G,6-3,190,"NOV 01, 1995",23.0,R,College of Charleston,1629147,2018-19
4027949,2019,1610612766,2019,00,Cody Zeller,cody-zeller,40,F-C,7-0,240,...,40,C,7-0,240,"OCT 05, 1992",26.0,5,Indiana,203469,2018-19
4027950,2019,1610612766,2019,00,Cody Zeller,cody-zeller,40,F-C,7-0,240,...,41,C,6-11,240,"MAY 27, 1994",25.0,2,Cajasol Sevilla,1626195,2018-19
4027951,2019,1610612766,2019,00,Cody Zeller,cody-zeller,40,F-C,7-0,240,...,44,F-C,7-0,242,"APR 04, 1993",26.0,3,Wisconsin,1626163,2018-19
4027952,2019,1610612766,2019,00,Cody Zeller,cody-zeller,40,F-C,7-0,240,...,55,G,6-5,205,"JUN 05, 1995",24.0,R,Xavier,1629122,2018-19